.stars {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;

    .star {
        font-size: var(--spacing-16);

        &--filled,
        &--full {
            color: var(--stars-color);
        }

        &--empty {
            color: var(--stars-empty-color);
        }
    }

    .rating {
        margin-left: var(--spacing-xs);
        font-size: var(--font-size-sm);
        color: var(--stars-empty-label-color);
    }

    // Half star specific styles
    &--half {
        .star {
            &--half {
                position: relative;
                color: var(--stars-half-star-empty-color);
            }
        }

        .star-half-container {
            position: relative;
            display: inline-block;
        }

        .star-half-fill {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            overflow: hidden;
            color: var(--stars-half-star-fill-color);
        }

        .star-half-empty {
            color: var(--stars-half-star-empty-color);
        }
    }
}
