.quick-add {
    .quick-add-input {
        padding: var(--spacing-16) var(--spacing-24);
    }

    .error-message {
        color: var(--body-danger-color);
        font-size: var(--font-size-xs);
        margin-top: var(--spacing-4);
    }
}
