.quick-add {
    .quick-add-input {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: var(--spacing-16);
        margin: var(--spacing-16) 0;
    }

    .error-message {
        color: var(--body-danger-color);
        font-size: var(--font-size-xs);
        margin-top: var(--spacing-4);
    }
}
