.memobit-context-menu-back-drop {
    background-color: var(--backdrop-color);
    opacity: 0.2;
    animation: fadeIn 0.2s ease;
}

.memobit-context-menu {
    position: fixed;
    z-index: 1000;
    color: var(--dropdown-options-color);
    background-color: var(--dropdown-options-background-color);
    border: 1px solid var(--dropdown-border-color);
    border-radius: var(--spacing-4);
    box-shadow: var(--modal-box-shadow);
    padding: var(--spacing-4);
    max-width: calc(100vw - 16px);
    box-sizing: border-box;
    overflow: auto;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;

    &--visible {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
