@use '../../styles/utilities' as *;

@include form-control-component('input-number') {
    &.input-number-hide-native-controls {
        appearance: textfield;
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
