@use '../../styles/utilities' as *;

@include form-control-component('input-email', $full-width: true) {
    &--error {
        @include input-error;
    }

    &--valid {
        border-color: var(--progress-success-bar-fill-color);

        &:focus {
            border-color: var(--progress-success-bar-fill-color);
            box-shadow: 0 0 0 var(--spacing-2) var(--progress-success-bar-fill-color) 33;
        }
    }
}

.input-email-wrapper {
    .input-email {
        &.input-email-success {
            background-color: var(--form-control-success-background-color) !important;
            border-color: var(--form-control-success-border-color) !important;
            color: var(--form-control-success-color) !important;

            &:focus {
                background-color: var(--form-control-success-background-color) !important;
                border-color: var(--form-control-success-border-color) !important;
                color: var(--form-control-success-color) !important;
            }
        }
    }

    .input-email-error-message {
        margin-top: calc(var(--spacing-4) * -1);
    }
}
