@use '../../styles/utilities' as *;

@include form-control-component('input-date') {
    &::-webkit-calendar-picker-indicator {
        filter: invert(0.5);
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}
