@use '../../styles/utilities' as *;

.input-date-wrapper {
    @include input-wrapper;

    .input-date-label {
        @include input-label;

        .input-date-required {
            @include input-required;
        }
    }

    .input-date {
        @include input-field;

        &::-webkit-calendar-picker-indicator {
            filter: invert(0.5);
            cursor: pointer;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }

        &.input-date-error {
            @include input-error;
        }
    }

    .input-date-error-message {
        @include input-error-message;
    }
}
