.toast {
    position: fixed;
    top: var(--spacing-16);
    right: var(--spacing-16);
    padding: var(--spacing-16);
    border: 1px solid;
    border-radius: var(--radius);
    box-shadow: 0 4px var(--spacing-12) var(--shadow);
    z-index: 1001;
    animation: slideIn 0.3s ease;
    text-shadow: 1px 1px 1px var(--text-shadow);

    &.toast-success {
        background-color: var(--toast-success-background-color);
        border-color: var(--toast-success-border-color);
        color: var(--toast-success-color);
    }

    &.toast-danger {
        background-color: var(--toast-danger-background-color);
        border-color: var(--toast-danger-border-color);
        color: var(--toast-danger-color);
    }

    &.toast-warning {
        background-color: var(--toast-warning-background-color);
        border-color: var(--toast-warning-border-color);
        color: var(--toast-warning-color);
    }

    &.toast-info {
        background-color: var(--toast-info-background-color);
        border-color: var(--toast-info-border-color);
        color: var(--toast-info-color);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
