.theme-modal {
    padding: var(--spacing-24);

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-16);

        label {
            color: var(--body-accent-color);
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-medium);
        }

        // temp
        .dropdown-menu {
            position: fixed !important;
            width: 200px !important;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);
    }

    &__components {
        display: flex;
        gap: var(--spacing-8);
    }
}
