.appHeader {
    background-color: var(--header-background-color);
    padding: var(--spacing-16);
    border-bottom: var(--spacing-1) solid var(--header-border-bottom-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-12);

    @media (max-width: 768px) {
        padding: var(--spacing-12) var(--spacing-16);
        gap: var(--spacing-8);
    }

    header {
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-8);

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-4);
        }
    }

    h1 {
        margin: 0;
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bold);
        display: flex;
        align-items: center;
        column-gap: var(--spacing-16);
        color: var(--body-accent-color);

        @media (max-width: 768px) {
            font-size: var(--font-size-xl);
        }
    }

    p {
        color: var(--body-color-muted);
        margin: 0;

        @media (max-width: 768px) {
            font-size: var(--font-size-sm);
            display: none;
        }
    }

    > div {
        flex-shrink: 0;
    }
}
