@use '../../styles/utilities' as *;

.ChatBot {
    @include flex-column;
    row-gap: var(--spacing-16);
    width: 100%;

    .input-container {
        width: 100%;
        display: flex;
    }

    .output-container {
    }

    @include mobile {
        row-gap: var(--spacing-8);
    }
}
