.quick-set {
    .quick-set-list {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-16);
        row-gap: var(--spacing-16);
    }

    .error-message {
        color: var(--body-danger-color);
        font-size: var(--font-size-xs);
        margin-top: var(--spacing-4);
    }
}
