.MenuHamburger {
    --MenuHamburger-icon-button-size: calc(var(--spacing-12) + var(--spacing-12) + 1.3125rem + var(--spacing-1) + var(--spacing-1));

    position: relative;

    &_opener--icon-only,
    &_single-item--icon-only {
        box-sizing: border-box;
        width: var(--MenuHamburger-icon-button-size);
        height: var(--MenuHamburger-icon-button-size);
        justify-content: center;
        padding: 0 !important;
    }

    &_dropdown {
        display: flex;
        flex-direction: column;
        min-width: 200px;

        button {
            border-radius: 0 !important;
        }
    }

    &_entry {
        &:not(:last-child) .MenuHamburger_item {
            border-bottom: var(--spacing-1) solid var(--delimiter-color);
        }
    }

    &_separator {
        height: var(--spacing-4);
        background-color: var(--delimiter-color);
        opacity: 0.5;
    }

    &_item {
        width: 100%;
        padding: var(--spacing-12) var(--spacing-16) !important;
        background-color: transparent !important;
        display: flex !important;
        align-items: flex-start !important;

        cursor: pointer;
        transition: background-color 0.2s ease !important;
        color: var(--card-color) !important;
        text-align: left;

        span {
            display: flex;
            gap: var(--spacing-12);
            align-items: center;

            span:first-child {
                width: var(--spacing-32);
            }
        }

        &:hover {
            background-color: var(--list-hover-background-color) !important;
        }

        &--active {
            background-color: var(--card-background-accent-color) !important;
            border-left: 4px solid var(--card-border-accent-color) !important;
            font-weight: var(--font-weight-semibold) !important;

            &:hover {
                background-color: var(--card-background-accent-color);
            }
        }

        &__icon {
            font-size: var(--font-size-lg);
            line-height: 1;
        }

        &__label {
            font-size: var(--font-size-sm);
            font-weight: inherit;
            white-space: nowrap;
        }
    }
}
