.input-text {
    background-color: var(--form-control-background-color);
    color: var(--form-control-color);
    border: var(--spacing-1) solid var(--form-control-border-color);
    border-radius: var(--radius-sm);
    padding: var(--spacing-12);
    font-size: var(--font-size-sm);
    width: 100%;
    box-sizing: border-box;

    &:focus {
        outline: none;
        background-color: var(--form-control-focus-background-color);
        border-color: var(--form-control-focus-border-color);
        color: var(--form-control-focus-color);
        box-shadow: 0 0 0 var(--spacing-2) var(--box-shadow);
    }

    &::placeholder {
        color: var(--form-control-placeholder-color);
    }
}
