@use '../../styles/utilities' as *;

.app-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
    padding: var(--spacing-16);

    &--clickable {
        cursor: pointer;
    }

    &__separator {
        width: auto;
        margin-right: var(--spacing-16);
        margin-left: var(--spacing-16);
    }

    &__icon {
        @include flex-center;
        width: var(--spacing-40);
        height: var(--spacing-40);
        flex-shrink: 0;
        border-radius: var(--radius);
        background: var(--card-background-accent-color);
        color: var(--body-accent-color);
        font-size: var(--font-size-lg);
    }

    &__copy {
        @include flex-column;
        min-width: 0;
    }

    &__app-name {
        color: var(--body-color);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-semibold);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__headline {
        color: var(--body-color-muted);
        font-size: var(--font-size-sm);
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
