.progress-bar {
    height: var(--spacing-16);
    background-color: var(--progress-bar-background-color);
    border-radius: var(--spacing-4);
    overflow: hidden;
    position: relative;
    font-weight: 500;

    .progress-fill {
        height: 100%;
        background-color: var(--progress-default-bar-fill-color);
        border: var(--spacing-1) solid var(--progress-default-bar-border-color);
        color: var(--progress--bar-color);
        border-radius: var(--spacing-4);
        text-shadow: var(--spacing-1) var(--spacing-1) #000;
        font-size: var(--spacing-12);
        display: flex;
        align-items: center;
        padding: 0 var(--spacing-4);

        &.progress-bar-success {
            background-color: var(--progress-success-bar-fill-color);
            border: var(--spacing-1) solid var(--progress-success-bar-border-color);
        }

        &.progress-bar-warning {
            background-color: var(--progress-warning-bar-fill-color);
            border: var(--spacing-1) solid var(--progress-warning-bar-border-color);
        }

        &.progress-bar-danger {
            background-color: var(--progress-danger-bar-fill-color);
            border: var(--spacing-1) solid var(--progress-danger-bar-border-color);
        }

        &.progress-bar-info {
            background-color: var(--progress-info-bar-fill-color);
            border: var(--spacing-1) solid var(--progress-info-bar-border-color);
        }
    }
}
