.slider-component {
    margin-bottom: var(--spacing-24);

    .slider-input {
        width: 100%;
        height: var(--spacing-8);
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--slider-track-background-color);
        border: var(--spacing-1) solid var(--slider-track-border-color);
        border-radius: var(--radius-sm);
        outline: none;
        margin-bottom: var(--spacing-16);
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            border-color: var(--slider-track-hover-border-color);
            background-color: var(--slider-track-hover-background-color);
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: var(--spacing-24);
            height: var(--spacing-24);
            background-color: var(--slider-thumb-background-color);
            cursor: pointer;
            border-radius: 50%;
            border: var(--spacing-2) solid var(--slider-thumb-border-color);
            transition: all 0.2s ease;

            &:hover {
                background-color: var(--slider-thumb-hover-background-color);
                border-color: var(--slider-thumb-hover-border-color);
                transform: scale(1.1);
            }
        }

        &::-moz-range-thumb {
            width: var(--spacing-24);
            height: var(--spacing-24);
            background-color: var(--slider-thumb-background-color);
            cursor: pointer;
            border-radius: 50%;
            border: var(--spacing-2) solid var(--slider-thumb-border-color);
            transition: all 0.2s ease;

            &:hover {
                background-color: var(--slider-thumb-hover-background-color);
                border-color: var(--slider-thumb-hover-border-color);
                transform: scale(1.1);
            }
        }
    }

    .slider-display {
        text-align: center;

        .slider-value {
            font-size: var(--font-size-xxl);
            font-weight: var(--font-weight-bold);
        }

        .slider-state {
            &-info {
                color: var(--rating-color-info);
            }

            &-success {
                color: var(--rating-color-success);
            }

            &-warning {
                color: var(--rating-color-warn);
            }

            &-danger {
                color: var(--rating-color-danger);
            }
        }
    }
}
